<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880191042578-t6cr12n8beb28t4f8ne3u22lgentt1p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880191042578-t6cr12n8beb28t4f8ne3u22lgentt1p2</string>
	<key>API_KEY</key>
	<string>AIzaSyA1t1ZauJiYSax61bg4DBRTbE7HZklnoRU</string>
	<key>GCM_SENDER_ID</key>
	<string>880191042578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimitrijevolarevic.SwiftUIChatFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftuichatfirebase-66913</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichatfirebase-66913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880191042578:ios:637a7689a29650eba254cb</string>
</dict>
</plist>