<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704885909868-v2fcld19l074s94944pft1dqemqsiv66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704885909868-v2fcld19l074s94944pft1dqemqsiv66</string>
	<key>API_KEY</key>
	<string>AIzaSyBAIzvJjaOq9BuwfPck6rqlD9cHsyWGTkM</string>
	<key>GCM_SENDER_ID</key>
	<string>704885909868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimitrijevolarevic.SwiftUIChatFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-79fbf</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-79fbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704885909868:ios:b5f7cdae8483116806eb49</string>
</dict>
</plist>